<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to the Healthcare Management System</h1>
    <div>
        <a href="/patients-form"><button>Manage Patients</button></a>
        <a href="/medical-records-form"><button>Medical Records</button></a>
        <a href="http://localhost:5003"><button>Appointment Scheduler</button></a>
    </div>
</body>
</html>
